@charset "utf-8";
/* CSS Document */
ul.gaia-ftb-filter {
	list-style-type:none;
	float:left;
}
ul.gaia-ftb-filter li {
	float:left;
	padding:10px;
}
ul.gaia-ftb-filter li:first-child {
	padding-left:0px;
}
ul.gaia-ftb-filter li a:link {
	color:#000;
}
ul.gaia-ftb-filter li a:hover {
	color:#000;
}
ul.gaia-ftb-filter li a:visited {
	color:#000;
}
